html, body {
    padding: 5px;
}

#task-table {
    font-family: calibri, arial;
    border-collapse: collapse;
    
    text-align:center;
    width:40%; 
    margin-left:15%; 
    margin-right:15%;
}
/* #peer-input-block , #my-id , #conn-status , #server-id , #conn-list {
    text-align:center;
}
*/

#accepting {
    width:40%; 
    margin-left:30%; 
    margin-right:25%;
    height: auto;
    font-size: 30px;
    font-family: unquote("Roboto");

}

#iter {
    margin-right:15%; 
    
    float:right;
    float: top;
    

}

#task-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;   
}

button {margin: 20px;}

#task-table tr:nth-child(odd){background-color: #b8f7a8;}

#task-table tr:nth-child(even){background-color: #dbdfff;}
