# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# dotenv environment variables file
.env
.env.test


# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode


# Mac 
.DS_STORE